Source: python-diskimage-builder
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 10),
               dh-python,
               openstack-pkg-tools (>= 52~),
               python-all,
               python-pbr (>= 1.8),
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: jq,
                     python-babel (>= 2.3.4),
                     python-dib-utils,
                     python-hacking,
                     python-six (>= 1.9.0),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1:1.10.0),
                     python-yaml,
                     subunit,
                     testrepository,
                     uuid-runtime,
Standards-Version: 3.9.8
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-python-diskimage-builder?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-python-diskimage-builder -b debian/newton
Homepage: https://git.openstack.org/cgit/openstack/diskimage-builder

Package: python-diskimage-builder
Architecture: all
Depends: debootstrap,
         jq,
         kpartx,
         python-babel (>= 2.3.4),
         python-dib-utils,
         python-pbr (>= 1.8),
         python-six (>= 1.9.0),
         python-yaml,
         qemu-utils,
         uuid-runtime,
         ${misc:Depends},
         ${python:Depends},
Description: image building tools for Openstack
 Diskimage-builder tools are the components of TripleO that are responsible for
 building disk images. It has the core functionality for building disk images,
 filesystem images and ramdisk images for use with OpenStack (both virtual and
 bare metal). The core functionality includes the various operating system
 specific modules for disk/filesystem images, and deployment and hardware
 inventory ramdisks.
 .
 The TripleO project also develops elements that can be used to deploy
 OpenStack itself. While users and operators can manually script or put
 together ram disks and disk images, mature automation makes customisation and
 testing easier.
